.page-footer {

  $block-name: &;
  background-color: $color-space;
  padding: 53px 0px 20px 0px;

  @include media-breakpoint-up(xs) {
  }
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    padding-top: 70px;
    padding-bottom: 23px;
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }

  &__inner {
    display: flex;
    flex-direction: column;
    margin: auto;

    @include media-breakpoint-up(xs) {
    }
    @include media-breakpoint-up(sm) {
    }
    @include media-breakpoint-up(md) {
    }
    @include media-breakpoint-up(lg) {
    }
    @include media-breakpoint-up(xl) {
    }
  }

  .container {
    @include media-breakpoint-up(md) {
      
    }
  }
}
